* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,*:focus,*:hover{
  outline:none;
}

body {
  background-color: #e1e1e1;
}

body, input, button, textarea{
  font: 600 18px Nunito, sans-serif;
}

.App{
  width: 100vw;
  height: 100vh;
  
}
